*brazilian.* @tf2classified/i10n-brazilian
*english.* @tf2classified/i10n-english
*french.* @tf2classified/i10n-french
*german.* @tf2classified/i10n-german
*hungarian.* @tf2classified/i10n-hungarian
*latam.* @tf2classified/i10n-latam
*polish.* @tf2classified/i10n-polish
*portuguese.* @tf2classified/i10n-portuguese
*romanian.* @tf2classified/i10n-romanian
*russian.* @tf2classified/i10n-russian
*schinese.* @tf2classified/i10n-schinese
*spanish.* @tf2classified/i10n-spanish
*tchinese.* @tf2classified/i10n-tchinese
*turkish.* @tf2classified/i10n-turkish
*ukrainian.* @tf2classified/i10n-ukrainian